/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides li img{
  float: right;
  width: 95%;
}

.rslides li div{
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top:0;
  left: 0;
}

.rslides li div p{
  color: #993366;
  font-family: 'Supermercado One', cursive;
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-size: 30px;
  font-weight: bold;
}

.rslides li:nth-child(2) > div > p{
  font-size: 20px;
}
