/*rwd.css*/

@media screen and (max-width: 1024px){
  #container{
    width: 100%;
  }

  footer{
    padding: 0 5px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 800px){
  .rslides li img{
    width: 100% !important;
    float: none !important;
  }

  .rslides li div p{
    text-orientation: sideways !important;
    writing-mode: horizontal-tb !important;
    background: #ffffcc;
    padding: 5px;
    border: 1px solid #666699;
  }

  .rslides li:nth-child(2) > div > p{
    font-size: 30px !important;
  }

  #teleadr p, #teleadr a{
    font-size: 12px;
  }

  #infbox, #text{
    top: 0;
    left: 0;
    width: 100%;
  }

  #infbox{
    background: #ffffcc;
  }

  #text{
    overflow: hidden;
  }

}
