html, body{
  /*height:100%;*/
}

body, #teleadr{
  background: #ffffcc;
}

p, li, a{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

a:hover, .link:hover p{
  font-weight: normal;
  cursor: pointer;
}

ul{
  list-style-type: none;
}

.bigger p, a{
  font-weight:bold;
  color:#993366;
}

.bigger p{
  font-family: 'Supermercado One', cursive;
  font-size:30px;
  text-transform: lowercase;
  margin: 2px 3px;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.lang.active img{
  border: 1px solid black;
}

#container{
  min-height:100%;
  position:relative;
  margin: 7px auto;
  width: 1024px;
  padding-bottom: 60px;
}

#baner, #teleadr, #content{
  width: 100%;
  box-sizing: border-box;
}

#baner{
  padding: 10px;
}

#teleadr {
  height: 20px;
  position: relative;
}

#teleadr div{
  position: absolute;
  top: 0;
  padding: 7px 0;
}

#teleadr div:first-child{
  left: 0;
  right: auto;
  width: 80%;
}

#teleadr div:nth-child(2){
  left: auto;
  right: 0;
  width: 20%;
  text-align: right;
}

#teleadr div:nth-child(2) span{
  position: static;
  width: 50%;
}

#teleadr p, #teleadr a{
  font-family: 'Supermercado One', cursive;
}

#infbox, #text, #insidetext {
  border:1px solid #666699;
  padding: 7px;
}

#content {
  position: relative;
}

#infbox, #text {
  position: absolute;
  box-sizing: border-box;
}

#infbox {
  width: 30%;
  left: 0;
  right: auto;
  z-index: 10;
  overflow: hidden;
}

#text {
  width: 67%;
  left: auto;
  right: 0;
  padding: 7px;
  padding-top: 50px;
}

#infbox > div:first-child {
  width: 100%;
  height: 50px;
  text-align: center;
}

#infbox div:first-child span {
  font-size: 24px;
  padding: 7px;
  font-family: 'Supermercado One', cursive;
  line-height:42px;
  height:45px;
}

#infbox > div:nth-child(2) {
  text-align: left;
  padding: 7px;
}

#infbox > div:nth-child(2) > ul > li {
  margin: 15px 0;
}

footer{
  position: absolute;
  bottom: 0;
}

footer p, footer a{
    font-size: 12px;
    color: #000000;
}
