/*apps.css*/
#insidetext.apps #webmin{
  position: relative;
  width: 100%;
  height: 350px;
  margin: 7px 0;
}

#webmin > div {
  position: absolute;
}

#webmin > div:first-child {
  width: 30%;
  left: 0;
  right: auto;
  padding: 7px;
}

#webmin > div:first-child a h1 {
  margin-bottom: 10px;
}

#webmin > div:nth-child(2) {
  width: 65%;
  height: 100%;
  left: auto;
  right: 0;
  overflow:hidden;
}

#webmin > div:nth-child(2) > iframe {
  width: 120%;
  height: 120%;
  border:1px solid #666699;
  border-radius: 10px;
  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

#webmin > div:nth-child(2) > iframe  body,
#webmin > div:nth-child(2) > iframe  html {
    border-radius: 10px;
}
