/*gallery.css*/

#showcase{
  position: relative;
  z-index: 1;
  left: 0;
}

.smallimages{
width:10%;
margin:10px;}

#mask, #fixed, #picture, #close{
display:none;
z-index:4;}

#mask, #fixed, #close{position:absolute;}

#fixed{
width:100%;
height:100%;}

#picture{margin:15px auto;}

#mask{background:gray;}

#close{
background:url("../icons/x.png");
width:25px;
height:25px;
margin-left:95%;
z-index:6;}

#picture img{
max-width: 900px;
border:3px solid black;
margin:0 auto;
display:block;}

.arrow{
position:absolute;
top:300px;
z-index:5;}

.arrow:first-child{left:10px;}

.arrow:last-child{right:10px;}

.arrow > img{border:none !important;}
