/*about.css*/

#insidetext.about h1{
  font-family: 'Supermercado One', cursive;
  font-size: 26px;
  text-transform: lowercase;
  color: #993366;
  margin: 10px;
}

#insidetext.about p{
  margin: 10px 0;
}

#album{
  background:url("../img/album.png") no-repeat;
  width: 226px;
  height:173px;
  margin:-90px 0 0 5px;
  float:right;
}

.album1, .album2{
  width:80px;
  height:100px;
  float:right;
  margin: 50px 25px 0 0;
}

.album2{
  margin:25px 13px 0 0;
}

.album1, .album2 {
    -webkit-transform: rotate(13deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(13deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(13deg);  /* IE 9 */
    -o-transform: rotate(13deg);  /* Opera 10.50-12.00 */
    transform: rotate(13deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */}

.mainphotos{
  margin:0 7px;
  float:left;
}
